<div class='jumbotron'>
<h1>EAT SLEEP </h1>
<h1 style="text-align: center">CODE REPEAT!</h1>
<%=link_to 'Login', 'login', class: 'btn btn-primary'%>
<%=link_to 'Sign up', 'signup', class: 'btn btn-primary'%>
</div>