// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$navbar-default-bg: #ff9933;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    color: white;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: -1px

}
#logo:hover {
    background-color: #ff8510;
    
}
.badge {
    background-color: #CEF6F5;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}
    
.input_checkbox input {
    width: auto !important; 
}
.article-title {
    font-weight: bold;
    font-size: 1.5em;
}
    
.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
    
}
.article-actions {
    border-top: 1px solid #eaeaea;    
    padding-top: 5px;
}
.article-meta-details {
    border-top: 1px solid #eaeaea;    
    margin-top: 15px;
}    
    
.description {    
    margin-top: 0;
}

.jumbotron {
    border-radius: 50px;

    height: 250px;
    width:100%;
    background-color: #1fc8db; /* For browsers that do not support gradients */        
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color:white;
    opacity:0.95;
}
.jumbotron h1 {
    font-weight: bold;
    color:white;
    font-family: monospace;
    letter-spacing: -5px;
    
}
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer small {
    float: left;
}
footer a:hover {
    color: #222;
}    
footer ul { 
    float: right;
    
}
    
footer ul li {
    float: left;
    margin-left: 15px;
}