<h1>Categories</h1>
<hr>
<div align="center">
<%= will_paginate @categories%>
    <% @categories.each do |c| %>        
        <div class="row">
            <div class="well col-md-4 col-md-offset-4">
                <div class="article-title">
                <%= link_to c.name, category_path(c) %>
                </div>
                <div style=" text-align:right; color: #737373" >
                    <%= pluralize(c.articles.count, "article") %>   
                </div>
            </div>
        </div>        
    <% end %>
    <%= will_paginate @categories%>
</div>


